.login_16{
	background-image: url(../images/Icon/login_16.png) !important;
}
.archive16{
	background-image: url(../images/Icon/archive16.png) !important;
}
.ba_16{
	background-image: url(../images/Icon/ba_16.png) !important;
}
.headerbg{
	background-image: url(../images/system/bg.png) !important;
}
.centerbg{
	background-image: url(../images/wallpaper/default.jpg) !important;
}
.logoImg{
	background-image: url(../images/system/mainlogo.png) !important;
}
.download{
	 background-image: url(../images/Icon/download.png) !important;
}
.rss{
	background-image: url(../images/Icon/rss.gif) !important;
}
.rss_delete{
	background-image: url(../images/Icon/rss_delete.gif) !important;
}
.grid{
	background-image: url(../images/Icon/grid.png) !important;
}
.webNewsMag_16{
	background-image: url(../images/Icon/webNewsMag_16.png) !important;
}
.webNews_16{
	background-image: url(../images/Icon/webNews_16.png) !important;
}
.webInfoMag_16{
	background-image: url(../images/Icon/webInfoMag_16.png) !important;
}
.webInfo_16{
	background-image: url(../images/Icon/webInfo_16.png) !important;
}
.forward_32{
	background-image: url(../images/Icon/forward_32.png) !important;
}
.refresh{
	background-image: url(../images/Icon/refresh.png) !important;
}
.refresh_32{
	background-image: url(../images/Icon/refresh_32.png) !important;
}
.pwdset_32{
	background-image: url(../images/Icon/pwdset_32.png) !important;
}
.pwdset_16{
	background-image: url(../images/Icon/pwdset_16.png) !important;
}
.exit_16{
	background-image: url(../images/Icon/exit_16.png) !important;
}
.exit_32{
	background-image: url(../images/Icon/exit_32.png) !important;
}
.clock_24{
	background-image: url(../images/Icon/clock_24.png) !important;
}
.notice_16{
	background-image: url(../images/Icon/notice_16.png) !important;
}
.zx_16{
	background-image: url(../images/Icon/zx_16.png) !important;
}
.add_16{
	background-image: url(../images/Icon/add_16.png) !important;
}
.edit_16{
	background-image: url(../images/Icon/edit_16.png) !important;
}
.delete_16{
	background-image: url(../images/Icon/delete_16.png) !important;
}
.excel_16{
	background-image: url(../images/Icon/excel_16.png) !important;
}
.home_16 {
	background-image: url(../images/Icon/home_16.png) !important;
}
.pwd_16 {
	background-image: url(../images/Icon/pwd_16.png) !important;
}
.save_16{
	background-image: url(../images/Icon/save_16.gif) !important;
}
.return_16{
	background-image: url(../images/Icon/return_16.png) !important;
}
.user_16{
	background-image: url(../images/Icon/user_16.png) !important;
}
.clerk_16{
	background-image: url(../images/Icon/clerk_16.png) !important;
}
.students_16{
	background-image: url(../images/Icon/students_16.png) !important;
}
.role_16{
	background-image: url(../images/Icon/role_16.png) !important;
}
.assign_16{
	background-image: url(../images/Icon/assign_16.png) !important;
}
.sysmag{
     background-image: url(../images/Icon/sysmag.png) !important;
}
.sysmag_16 {
	 background-image: url(../images/Icon/sysmag_16.png) !important;
}
.course_16{
	background-image: url(../images/Icon/course_16.png) !important;
}
.courses_16 {
	 background-image: url(../images/Icon/courses_16.png) !important;
}
.calendar_16 {
	 background-image: url(../images/Icon/calendar_16.png) !important;
}
.folder_16 {
	 background-image: url(../images/Icon/folder_16.png) !important;
}
.other_16 {
	 background-image: url(../images/Icon/other_16.png) !important;
}
.title_16 {
	 background-image: url(../images/Icon/title_16.png) !important;
}
.accept_16 {
 	background-image: url(../images/Icon/accept_16.png) !important;
}
.ba_16{
	background-image: url(../images/Icon/ba_16.png) !important;
}
.org_16{
	background-image: url(../images/Icon/org_16.png) !important;
}
.batch_16{
	background-image: url(../images/Icon/batch_16.png) !important;
}
.pub_16{
	background-image: url(../images/Icon/pub_16.png) !important;
}
.dir_16{
	background-image: url(../images/Icon/dir_16.png) !important;
}
.book{
	background-image: url(../images/Icon/book.png) !important;
}
.rightArrow{
    background-image: url(../images/Icon/rightArrow.png) !important;
}
.rightArrow2{
    background-image: url(../images/Icon/rightArrow2.png) !important;
}
.leftArrow{
    background-image: url(../images/Icon/leftArrow.png) !important;
}
.leftArrow2{
    background-image: url(../images/Icon/leftArrow2.png) !important;
}
.topArrow{
    background-image: url(../images/Icon/topArrow.png) !important;
}
.topArrow2{
    background-image: url(../images/Icon/topArrow2.png) !important;
}
.downArrow{
    background-image: url(../images/Icon/downArrow.png) !important;
}
.downArrow2{
    background-image: url(../images/Icon/downArrow2.png) !important;
}
.export{
    background-image: url(../images/Icon/export.png) !important;
}
.export_excel{
    background-image: url(../images/Icon/export_excel.png) !important;
}
.searchForm{
    background-image: url(../images/Icon/searchForm.png) !important;
}
.search{
    background-image: url(../images/Icon/search.png) !important;
}
.searchAll{
    background-image: url(../images/Icon/searchall.png) !important;
}
.advancedSearch{
    background-image: url(../images/Icon/advancedsearch.png) !important;
}
.navimenu{
    background-image: url('../images/Icon/navi_menu.png') !important;
}
.cabinet{
    background-image: url('../images/Icon/cabinet.png') !important;
}
.document{
    background-image: url('../images/Icon/document.png') !important;
}
.docu{
 	background-image: url(../images/Icon/docu.png) !important;
}
.proman{
    background-image: url('../images/Icon/proman.png') !important;
}
.apply{
    background-image: url('../images/Icon/apply.png') !important;
}
.zx{
    background-image: url('../images/Icon/zx.png') !important;
}
.rss{
    background-image: url('../images/Icon/rss.gif') !important;
}
.feed_add{
    background-image: url('../images/Icon/feed_add.png') !important;
}
.feed_edit{
    background-image: url('../images/Icon/feed_edit.png') !important;
}
.feed_delete{
    background-image: url('../images/Icon/feed_delete.png') !important;
}
.user {
 	background-image: url(../images/Icon/user.png) !important;
}
.usergroup{
 	background-image: url(../images/Icon/group.png) !important;
}	
.role{
 	background-image: url(../images/Icon/group.png) !important;
}
.right{
 	background-image: url(../images/Icon/key.png) !important;
}
.thds{
 	background-image: url(../images/Icon/thds.png) !important;
}
.thd{
 	background-image: url(../images/Icon/thd.png) !important;
}
.experts{
 	background-image: url(../images/Icon/experts.png) !important;
}
.expert{
 	background-image: url(../images/Icon/expert.png) !important;
}
.pwdChg{
 	background-image: url(../images/Icon/pwdchg.png) !important;
}
.loginOut{
 	background-image: url(../images/Icon/logout.png) !important;
}
.newAnnoc{
 	background-image: url(../images/Icon/newannoc.png) !important;
}
.regaudit{
 	background-image: url(../images/Icon/dataaudit.png) !important;
}
.audit_16{
 	background-image: url(../images/Icon/audit_16.png) !important;
}
.formAudit_16{
 	background-image: url(../images/Icon/formAudit_16.png) !important;
}
.auditDetail_16{
 	background-image: url(../images/Icon/auditDetail_16.png) !important;
}
.baseSet{
 	background-image: url(../images/Icon/baseSet.png) !important;
}
.sysModel{
 	background-image: url(../images/Icon/sysModel.png) !important;
}
.dataDictionary{
 	background-image: url(../images/Icon/dataDictionary.png) !important;
}
.pAnnoc{
 	background-image: url(../images/Icon/pannoc.png) !important;
}
.annoce{
 	background-image: url(../images/Icon/annoce.png) !important;
}
.annoc{
 	background-image: url(../images/Icon/announce.png) !important;
}
.indexinfo{
 	background-image: url(../images/Icon/indexinfo.png) !important;
}
.
.dataAudit{
 	background-image: url(../images/Icon/dataaudit.png) !important;
}
.dataInput{
 	background-image: url(../images/Icon/dataInput.png) !important;
}
.dataInputMag{
 	background-image: url(../images/Icon/dataInputMag.png) !important;
}
.ecoproduct{ 	
	background-image: url(../images/Icon/ecoproduct.png) !important;
}
.industry{
 	background-image: url(../images/Icon/hy.png) !important;
}
.industryInfo{
 	background-image: url(../images/Icon/industryInfo.png) !important;
}
.sysManage{
 	background-image: url(../images/Icon/sysman.png) !important;
}
.index{
 	background-image: url(../images/Icon/index.png) !important;
}
.indexManage{
 	background-image: url(../images/Icon/indexManage.png) !important;
}
.enterprise{
 	background-image: url(../images/Icon/enterprise.png) !important;
}
.ecoEnterprise{
 	background-image: url(../images/Icon/ecoEnterprise.png) !important;
}
.news{
 	background-image: url(../images/Icon/news.png) !important;
}